@import "./roboto";

body {
    font-family: "Roboto", sans-serif;
}

.container {
    padding-top: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center
}

.logo {
    background-image: url("../assets/react.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    &__sm {
        height: 100px;
        width: 100px;
    }
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    margin-top: 30px;
    border: 1px solid red;
}